.section{
  padding: 10px 30px 10px 30px;
}
.marcador{
  font-size: 30px;
}
#nav{
  width:100vw;
  position:absolute;
  text-align:center;
  padding-top:15px;
  background-color: rgba(0, 0, 0, 0);
}
.nav-buttom{
  color:rgba(255, 255, 255, 0.816);
  display:inline;
  margin-left:10px;
  margin-right:5px;
  padding:10px;
  transition:0.1s;
  font-size:15px;
}

.nav-buttom:hover{
  background-color:rgba(241, 241, 241, 0.68);
  border-radius:5px;
  color:rgba(41, 40, 40, 0.854);
  cursor:pointer;
}
