<div id="nav">
  <a class="nav-buttom" href="#sobre-mi">SOBRE MI</a>
  <a class="nav-buttom">HABILIDADES</a>
  <a class="nav-buttom">EDUCACION</a>
  <a class="nav-buttom">EXPERIENCIA</a>
  <a class="nav-buttom">PROYECTOS</a>
</div>

<a><img  id="log-in" src="https://i.postimg.cc/N0YyV1d9/log-in.png"></a>

<app-presentacion id="presentacion"></app-presentacion>
<app-sobre-mi id="sobre-mi"></app-sobre-mi>
<app-educacion id="educacion"></app-educacion>
<app-experiencia id="experiencia"></app-experiencia>
<app-habilidades id="habilidades"></app-habilidades>
<app-proyectos id="proyectos"></app-proyectos>
