.section{
  margin:0;
  z-index:0;
}
.marcador{
  font-size: 30px;
}
#nav{
  width:100vw;
  position:absolute;
  text-align:center;
  padding-top:15px;
  background-color: rgba(0, 0, 0, 0);
  z-index:100;
}
.nav-buttom{
  font-family: Microsoft PhagsPa;
  color:rgba(255, 255, 255, 0.816);
  display:inline;
  margin-left:10px;
  margin-right:5px;
  padding:7px;
  transition:0.1s;
  font-size:15px;
}

.nav-buttom:hover{
  background-color:rgba(255, 238, 0, 0.639);
  border-radius:5px;
  color:rgba(34, 34, 34, 0.898);
  cursor:pointer;
}
