<div class="section">

<img id="banner" src="https://i.postimg.cc/HW6sMm2F/fondo-montes.png">

<div id="contenedor-nombre"><p id="nombre">AGUSTIN GODZIC</p></div>

<div id="contenedor-redes">
  <a href="https://www.facebook.com/agugodzic/" target="_blank"><img class="logo-redes" src="https://i.postimg.cc/xC5869TW/facebook.png"></a>
  <a href="https://www.instagram.com/agugodzic/" target="_blank"><img class="logo-redes" src="https://i.postimg.cc/zDd3WDQh/instagram.png"></a>
  <a href="https://www.linkedin.com/in/agust%C3%ADn-godzic-109b09188/" target="_blank"><img class="logo-redes" src="https://i.postimg.cc/K8jWzfML/linkedin.png"></a>
  <a href="https://github.com/Agugodzic" target="_blank"><img class="logo-redes" src="https://i.postimg.cc/DwRxzTFk/github.png"></a>
</div>

<div id="sobre-mi">Sobre mi<img id="flecha" src="https://i.postimg.cc/vZTBd74n/flecha.png"></div>

</div>
