<div class="section">

<a src="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank" id="arg-programa"><img id="arg-programa-logo" src="https://i.postimg.cc/zX1CMnWn/APLogo-20-20.png"><p id="yo-programo">#YO PROGRAMO</p></a>


<img id="banner" src="https://i.postimg.cc/HW6sMm2F/fondo-montes.png">

<div id="contenedor-nombre"><p id="nombre">AGUSTIN GODZIC</p></div>

<div id="contenedor-redes">
  <a [href] = redes.facebook target="_blank"><img class="logo-redes" src="https://i.postimg.cc/xC5869TW/facebook.png"></a>
  <a [href] = redes.instagram target="_blank"><img class="logo-redes" src="https://i.postimg.cc/zDd3WDQh/instagram.png"></a>
  <a [href] = redes.linkedin target = "_blank"><img class="logo-redes" src="https://i.postimg.cc/K8jWzfML/linkedin.png"></a>
  <a [href] = redes.github target="_blank"><img class="logo-redes" src="https://i.postimg.cc/DwRxzTFk/github.png"></a>
</div>

<div id="sobre-mi">Sobre mi<img id="flecha" src="https://i.postimg.cc/vZTBd74n/flecha.png"></div>

</div>
