.section{
  background-color:rgb(39, 39, 39);
  height: 100vh;
  z-index:0;
  display:flex;
  justify-content: center;
}

#banner{
  height: 100vh;
  text-align: center;
  position:absolute;

}

#contenedor-nombre{
  z-index:100;
  height: 22vh;
  width: 60vw;
  border:6px;
  border-color:rgba(62, 71, 110, 0.323);
  border-style:solid;
  align-items: center;
  align-content: center;
  display:flex;
  justify-content: center;
  margin-top: 31vh;
  position:absolute;
  animation-name: AnimacionNombre;
  animation-duration: 2S;
}

@keyframes AnimacionNombre{
   from{
    opacity: 0%;
   }
   to{
    opacity: 100%;
   }
}

#nombre{
  color:rgba(255, 255, 255, 0.673);
  font-family: Microsoft PhagsPa ;
  font-size: 6vw;
}

#sobre-mi-1{
  opacity:65%;
  text-align: center;
  color:rgb(255, 255, 255);
  z-index:100;
  position:absolute;
  bottom: 40px;
  animation-name:flotante;
  animation-duration:2.5s;
  animation-iteration-count: infinite;
}

@keyframes SobreMi{
  from{
    opacity: 0%;
    transform: translateY(2px);
  }
  to{
    transform: translateY(0);
    opacity: 100%;
  }
}

#sobre-mi-1{
  text-decoration: 0px;
}

#sobre-mi-1:hover{
  opacity:100%;
  cursor:pointer;
}

#flecha{
  display: block;
  z-index:100;
  width: 30px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

#contenedor-redes{
  opacity:75%;
  text-align: center;
  z-index:100;
  position:absolute;
  bottom: 219px;
}

.logo-redes{
  opacity: 85%;
  display: inline;
  height: 40px;
  margin: 10px;
  transition:2s;
  animation-name:AnimacionLogos;
  animation-duration:1.5s;
}

@keyframes AnimacionLogos{
  from{
   opacity: 0%;
  }
  to{
   opacity: 100%;
  }
}

.logo-redes:hover{
  opacity: 100%;
  cursor:pointer;
  transition:0.7s;
  transform:translateY(-2.5px);
}

#arg-programa{
  color:white;
  opacity:40%;
  z-index:100;
  position:absolute;
  left: 20px;
  width: 300px;
}

#arg-programa:hover{
  opacity:75%;
  cursor:pointer;
  animation-name:flotante;
  animation-duration:3.5s;
  animation-iteration-count: infinite;
}

#arg-programa-logo{
  display:inline-block;
  opacity:75%;
  position:relative;
  height: 80px;
  top:-8px;
}

#yo-programo{
  font-size: 13px;
  display:inline-block;
  position:absolute;
  top:9px;
}


