.section{
  background-color:rgb(13, 15, 31);
  height: 100vh;
  width: 100vw;
  color:rgba(255, 255, 255, 0.662);
  padding:4vw;
  text-align: left;
}

.titulo{
  display:inline-block;
  font-size: 50;
  width:40vw;
  text-align:center;
  font-size: 30px;

}

.texto{
  font-size:35px;
  display:inline-block;
  padding:8px;
  height: 100vh;
  width:40vw;
  justify-content: Left;
  align-items: center;
}


#imagenPerfil{
  border-radius: 100px;
  background-color: rgb(43, 43, 43);
  height: 180px;
  width: 180px;
  border-color: black;
  padding:5px;
  margin-left:50px;
  position:absolute;
  transform: translate(0,0px);

}

#foto{
  border-radius: 100px;
  height: 180px;
  width: 180px;
}

#info{
  height:300px;
}

#habilidades-1{
  background-color: blue;
  font-size: 17px;
  opacity:60%;
  text-align: center;
  color:rgb(255, 255, 255);
  z-index:100;
  text-decoration:none;
  width: max-content;
}

#habilidades-1:hover{
  opacity:100%;
  cursor:pointer;
}

#flecha{
  display: block;
  z-index:100;
  width: 30px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}
